
.logo_container {
  display: flex;
  text-decoration: none;
}

.logo {
  height: 75px;
}

.app_name {
  font-family: "Kaushan Script", cursive;
  color: #4f3eb2;
}

.hero {
  width: 100%;
  height: 85vh;
  background-image: url("./assets/stockBackgroundPhoto.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.section {
  margin: 1.5em 0 0.5em 0;
}

.footer {
  justify-content: center;
  text-align: center;
  padding: 1em;
  background-color: #ffe69b;
}

.no-outline:focus {
  outline: none;
}

.basket-text-field {
  width: 65%;
}